body {
    margin: 0px;
}

/* Body header */

#body-header {
    height: 65vh;
    background-image: url(image/mouse.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: -16px;
}

/* horizontal lists */

.horizontal-list {
    list-style-type: none;
    padding-left: 0;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
}

.horizontal-list li a {
    color: white;
    /* padding: 14px 17px; */
    text-decoration: none;
    transition: color 0.5s, border-bottom 4s;
    padding: 14px 17px;
}

.horizontal-list li a:hover {
    color: lightgray;
    /* */
    border-bottom: 1px solid white;
}

.text-center {
    text-align: center;
}

nav {
    position: relative;
    top: 10px;
}

#my-name {
    color: white;
    margin-top: 140px;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

.fa-icon li {
    font-size: 1.2rem;
}

.fa {
    color: rgb(243, 227, 227);
}

.fa-icon a:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
    border-radius: 50%;
}

#my-dp {
    width: 12rem;
    height: 12rem;
    margin-left: auto;
    margin-right: auto;
}

#my-dp img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    margin-top: -10px;
    margin-top: -44px;
    border: 2px solid white;
    box-shadow: 0px 0px 8px black;
}

#about {
    height: auto;
    width: 100%;
}

#about p {
    width: 62%;
    margin: auto;
    margin-bottom: 35px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

/* common margin class*/

.mb75px {
    margin-bottom: 75px;
}

#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.portfolio-display img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.portfolio-display {
    height: 300px;
    max-width: 300px;
    margin: 10px;
    position: relative;
}

.portfolio-info {
    position: absolute;
    transition: all 0.5s ease-in-out;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    font-size: 3rem;
}

.portfolio-display:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-info:hover {
    background-color: #84badb78;
    color: white;
}