body {
    margin: 0px;
}

/* Body header */

#body-header {
    height: 65vh;
    background-image: url(image/mouse.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: -16px;
}

/* horizontal lists */

.horizontal-list {
    list-style-type: none;
    padding-left: 0;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
}

.horizontal-list li a {
    color: white;
    /* padding: 14px 17px; */
    text-decoration: none;
    transition: color 0.5s, border-bottom 4s;
    padding: 14px 17px;
}

.horizontal-list li a:hover {
    color: lightgray;
    /* */
    border-bottom: 1px solid white;
}

.text-center {
    text-align: center;
}

nav {
    position: relative;
    top: 10px;
}

header h1 {
    color: white;
    margin-top: 140px;
    font-size: 2.5rem;
    margin-bottom: -9px;
}

.fa {
    color: lightgrey;
}